@font-face {
        font-family: 'Minecraft';
        src: local('Minecraft'),
        url('https://db.onlinewebfonts.com/t/6ab539c6fc2b21ff0b149b3d06d7f97c.woff') format('woff'),
        url('https://db.onlinewebfonts.com/t/6ab539c6fc2b21ff0b149b3d06d7f97c.ttf') format('truetype'),
        url('https://db.onlinewebfonts.com/t/6ab539c6fc2b21ff0b149b3d06d7f97c.svg') format('svg');
}

html, html * {
        color: #ffffff;
        background-color: #000000;
        font-family: 'Minecraft', monospace;
}

* {border-color: #555555 !important}
cite, cite * {color: #029833 !important}
:link, :link * {color: #8db2e5 !important}
input, textarea {background-color: #333333 !important}
a {background-color: rgba(255, 255, 255, 0.01) !important}
:visited, :visited * {color: rgb(211, 138, 138) !important}
