@import url(https://fonts.chrissx.de/);

html {
        color: #ffffff;
        background-color: #000000;
        font-family: Minecraft, monospace;
        font-size: 18px;
        padding-left: 20%;
        padding-right: 20%;
}

header {
        font-size: 40px;
        text-align: center;
        padding-bottom: 20px;
}

* {border-color: #555555}
:link, :visited { color: #aaaaaa; }

.cmred, .logo1 { color: #c02020; }
.cmpurple, .logo2 { color: #8020f0; }
.cmblack { color: #202020; }
.transblue { color: #60d0ff; }
.transpink { color: #ffb0c0; }

table {
        font-family: Inter;
        margin: 10px;
        padding: 10px;
        border: 1px solid #ffffff;
        border-radius: 5px;
}

td {
        display: table-cell;
        vertical-align: inherit;
}

.logo1, .logo2 {
        font-family: Minecraft, monospace;
}

.cbt, .cbt * {
        font-family: Unifont, monospace;
}

.format {
        list-style-type: none;
}

.format li:before {
        content: "\25B6";
        margin-left: -20px;
        margin-right: 10px;
}

.pktlist {
        list-style-type: none;
}

.pktlist li:before {
        content: '+';
        margin-left: -20px;
        margin-right: 10px;
}

.res li:before {
        content: '=';
}
