---
import Layout from "../layouts/Layout.astro";
---

<!-- TODO: change lang to de and make everything german ig -->
<Layout title="Articles">
    <h2>German Articles</h2>
    <ul>
        <li>
            Analyse der Auswirkungen einer Cannabislegalisierung
            <ul>
                <li><a href="/articles/1.schua.deutsch.cannabis.fixed.txt">Fixed Version</a></li>
                <li><a href="/articles/1.schua.deutsch.cannabis.original.txt">Original Exam</a></li>
            </ul>
        </li>
        <li>
            Zu der Klarnamenpflicht
            <ul>
                <li><a href="/articles/klarnamen.fixed.txt">Fixed Version</a></li>
                <li><a href="/articles/klarnamen.original.txt">Original Exam</a></li>
            </ul>
        </li>
        <!-- TODO: fixed version -->
        <li><a href="/articles/literaturfoerderung.txt">Literaturfoerderung</a></li>
    </ul>
</Layout>
