---
import { BaseLayout, CMText, Footer } from "cmdesigns";
import favicon from "../favicon.png";

export interface Props {
    title: string;
    lang?: string;
}

const { title, lang = "en" } = Astro.props;
---

<BaseLayout {lang} {favicon} {title} description="The official chrissx Media website">
    <slot name="head" slot="head"/>
    <header>
        <h1><a href="/"><CMText /></a></h1>
        <nav>
            <a href="/hmmg">HMMG</a>
            <a href="/streams">Livestreams</a>
            <!--<a href="/shop">Merchandise</a>-->
        </nav>
    </header>
    <main>
        <slot />
        <Footer start={2018} />
    </main>
</BaseLayout>

<style>
    header {
        text-align: center;
        padding-bottom: 1em;
    }
</style>

<style is:global>
    body {
        font-family: var(--minecraft);
        font-size: 18px;
        padding-left: 20%;
        padding-right: 20%;
        /* TODO: width max(80%, min-content) */
    }
    h1 {
        font-size: 40px;
        margin: 0;
        margin-bottom: 0.25em;
    }
    h1 a {
        text-decoration: none;
    }
    nav {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 0.5em;
    }
    :link, :visited { color: #aaaaaa; }
</style>
